<div class="center-container">
    <div class="centered-button mb-4">
        <button type="submit" class="bold-button mb-4" (click)="addUser('add')">+Add Todo</button>
    </div>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <!-- Name Column -->
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> #</th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname | titlecase}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastname | titlecase}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="phonenumber">
            <th mat-header-cell *matHeaderCellDef> Phone Number. </th>
            <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element; let i = index">
                <div class="action-icons">
                    <mat-icon (click)="onEdit(element,i)">edit</mat-icon>
                    <mat-icon (click)="onDelete(i)">delete</mat-icon>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       
    </table>

    <div *ngIf="!elementData.length" class="no-data-container"> 
        <mat-card-title class="no-data">No Data Available In User List, Please Add Data</mat-card-title>
    </div>
</div>